/*
1. Posicionamiento
2. Modelo de caja (Box model)
3. Tipografia
4. Temas visuales
5. Otros
*/

:root {
    /*Colores */
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #fff;

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 32rem;
    height: 33.4rem;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img{
    width: 15rem;
    height: 2.4rem;
    align-self: center;
}
.header--title-container{
    width: 90%;
    min-width: 28.8rem;
    max-width: 90rem;;
    height: 21.8rem;
    margin-top: 4rem;
    align-self: center;
    text-align: center;
}
.header--title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header--title-container p{
    margin-top: 2.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange)
}

.header--title-container .header__button{
    position: absolute;
    left: calc(50% - 116px);
    top: 27rem;
    display: block;
    margin-top: 3.5rem;
    padding: 1.5rem;
    width: 22.9rem;
    height: 4.8rem;
    background-color: var(--off-white);
    border: none;
    border-radius: 0.5rem;
    /*sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16); 
    font-size: 1.4rem;
    font-weight:bold;
    line-height:1.8rem;
    color: var(--black);
}

.header__button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 14px;
    background-image: url("./assets/icons/down-arrow.svg");
}

main{
    width: 100%;
    height: auto;
    background-color: var(--off-white) ;
}

.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 3rem;
    text-align: center;
}
.main-exchange-container--title{
    width: 90%;
    min-width: 28.8rem;
    max-width: 90rem;
    margin: 0 auto;
} 
.backgroundImg{
    background-image: url("./assets/imagenes/bitcoin.svg");
    width: 19.5rem;
    height: 19.5rem;
    margin: 0 auto;
    margin-bottom: 5rem;
    /*ojo con esta parte */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-exchange-container--title h2{
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    margin-bottom: 3rem;
    color: var(--black);
}

.main-exchange-container--title p{
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #757575;
    margin-bottom:3rem;
}

.main-currency-table{
    width: 70%;
    min-width: 23.5rem;
    max-width: 50rem;
    height: 36rem;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}
.main-currency-table .currency-table--title{
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}
.currency-table--container{
    width: 90%;
    min-width: 23rem;
    max-width: 30rem;
    height: 25rem;
    margin: 0 auto;
}
.currency-table--container table{
    width: 100%;
    height: 100%;    
}
.currency-table--container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white)
}