*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0px;
    /*
    box-sizing--> coge el 100 % del width, es decir si en el navegador
    se disminuye o aumenta la pantalla, el padding se suma con el content del elemento
    y se ajusta, evitando el scroll. Se calcula automaticamente el tamano del elemento
    con el border y el padding
    */
}

main{
    width: 100%;
    height: 500px;
    border: 10px solid grey;
    padding: 20px 35px;
}