*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*
    box-sizing--> coge el 100 % del width, es decir si en el navegador
    se disminuye o aumenta la pantalla, el padding se suma con el content del elemento
    y se ajusta, evitando el scroll. Se calcula automaticamente el tamano del elemento
    con el border y el padding
    */
}
html{
    font-size: 62.5%;
}
p{
    font-size: 2rem;
    /*
    padding: 10px;
    border: 10px solid magenta;
    background-color: red;
    margin: 10px;*/
}

main div {
    font-size: 1.6rem;
}